// Bone
$white: #ffffff;
$bone: #eae0cc;
$eggshell: #ede5d4;

//Red
$error: #c9302c;
$silver_pink: #c9ada1;
$ruby: #931621;

//Greens
$artichoke: #a0a083;
$xanadu: #798478;

//Black
$black: #000000;
$black_90: rgba(55, 58, 60, 0.9);


// Grey
$grey_55: #757982;
$grey_60: #979797;
$grey_20: #cbcdcf;
$grey_04: #efeff0;
$grey_03: #f7f7f9;

